header{
    background-color:black;
}
h1{
    color: white;
}
nav ul{
    list-style: none;
    margin:0;
    
    padding:0;
    display:flex;
}
nav li{
    margin-right: 10px;
}
nav a{
    color: white;
    text-decoration: none;
}